.about {
    background-color: #fff;
    padding-top: 100px ;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}


.about-text {
    max-width: 600px;
    height: fit-content;
    background-color: #f5e18a;
    padding: 2rem;
    margin: 0 3rem;
    border-radius: 10px;
    text-align: center;
}
.about-text > p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.tech {
    max-width: 600px;
    width: 800px;
    height: fit-content;
    margin: 0 3rem;
    padding: 2rem;
    background-color: #f5e18a;
    border-radius: 10px;
    text-align: center;
}

.skills-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.skills-images > img {
    width: 100%;
}



@media (max-width: 900px) {
    .about-text {
        padding: 1rem;
        margin: 0 1rem;
    }
    .about-text > p {
        font-size: 20px;
        line-height: 2rem;
    }
    .tech {
        padding: 1rem;
        margin: 0 1rem;
    }
    .skills-images {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
    }
}

@media (max-width: 600px) {
    .about-text > p {
        font-size: 18px;
    }
    .skills-images {
        grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));;
    }
    .about {
        height: 80vh;
        padding-top: 100px;
    }
}