nav {
    background-color: #FFF;
    color: black;
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.me {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.me > h1 {
    font-size: 2rem;
}
.my-img {
    width: 3rem;
    border-radius: 50px;
}

.header-main {
    display: flex;
    margin-right: 2rem;
}

.header-links {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 2rem;
}

.header-links > li {
    display: flex;
    height: 100%;
}

.header-links > li > a {
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    transition: color .3s ease;
}
.header-links > li > a:hover {
    color: #facf0f;
}

.nav-icon {
    display: none;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
}

@media (max-width:900px) {
    .header-links > li > a {
        font-size: 1rem;
    }
    .me > h1 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .header-links {
        display: none;
    }
    .nav-icon {
        display: block;
    }

}